body {
    background-color: beige;
	width: 100%;
	height: 100%;
	position: relative;
    min-width: 1000px;
    margin: 0;
    overflow: visible;
}
.bar_nav {
    width: 100%;
    height: 40px;
    background: #f1f1f1;
    font-weight: bold;
    font-size: 12px;
    line-height: 32px;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    border-bottom: 1px solid #dfdfdf;
    box-sizing: content-box;
    position: fixed;
    z-index: 1;
    
}

.logos {
    position: absolute;
    height: 50px;
    width: 25%;
    margin: 0 auto;
}

.img_siz_logo {
    height: 60px;
}

.img_siz_coltec {
    height: 30px;
}

.img_siz_ufmg {
    height: 20px;
    margin-top: 17px;
}

.hambur {
    width: 5%;
}

.search_nav {
    margin-top: 0.5%;
	width: 50%;
    margin-left: 31%;
    margin-right: 25%;

}

.text_area_search {
    padding-left: 5px;
    border-radius: 5px;
    border-style: solid;
    height: 43px;
    width: 90%;
    color: gray;
    background-color: lightgray;
}

#text_view {
    margin-left: 9%;
	width: 80%;
}

#foto `{
    width: 5%;
}

.botton {
	background-color: gray;
	border: none;
	width: 45px;
	height: 38px;
	margin-left: -10px;
    margin-top: 2px;
	border-color: white;
	border-radius: 0 5px 5px 0;
	color: white;
    float: right;
    position: absolute;
}

.botton:hover {
	background-color: darkgray;
}

#picture {
    float: right;
  	border-radius: 50%;
  	height: 50px;
  	object-fit: cover;
  	width: 50px;
  	margin-right: 80%;
}


