body {
    background-color: beige;
	//background-image: url(../bootstrap/img/foto_des.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: fixed;
	//overflow: hidden;
    min-width: 1000px;
    margin: 0;
}
.bar_nav {
	//background-color: darkblue;
    //background-color: #579C87;
	//padding-left: 0.5%;
	//padding-top: 0.1%;
	//height: 60px;
    //width: 100%;
    
    height: 40px;
    background: #f1f1f1;
    font-weight: bold;
    font-size: 12px;
    line-height: 32px;
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    border-bottom: 1px solid #dfdfdf;
    box-sizing: content-box;
    
}

.logos {
    position: absolute;
    height: 50px;
    width: 25%;
    margin: 0 auto;
    //padding-bottom: 10px;
    //background-color: aqua;
    
}

.img_siz_logo {
    height: 60px;
}

.img_siz_coltec {
    height: 30px;
}

.img_siz_ufmg {
    height: 20px;
    margin-top: 17px;
}

.hambur {
    width: 5%;
}

.search_nav {
    margin-top: 0.5%;
	width: 50%;
    margin-left: 31%;
    margin-right: 25%;

}

.text_area_search {
    padding-left: 5px;
    border-radius: 5px;
    border-style: solid;
    width: 90%;
    color: gray;
}

#text_view {
    margin-left: 9%;
	width: 80%;
}

#foto `{
    width: 5%;
}

.botton {
	background-color: gray;
	border: none;
	width: 45px;
	height: 38px;
	margin-left: -10px;
	border-color: white;
	border-radius: 0 5px 5px 0;
	color: white;
    float: right;
    position: absolute;
}

.botton:hover {
	background-color: darkgray;
}

#picture {
    float: right;
  	border-radius: 50%;
  	height: 50px;
  	object-fit: cover;
  	width: 50px;
  	margin-right: 0.5%;
}

/*
.central {
	width: 70%;
	height: 85%;
	margin-top: 0;
	margin-left: 15%;
	margin-right: 15%;
    margin-bottom: 15%;
    //background-color: aqua;
}

.text_nao_rem {
	height: 14%;
    //background-color: black;
}

.nao_rem {
	height: 20%;
	//background-color: yellow;
}

.text_rem {
	height: 13%;
    //background-color: black;
}

.rem {
	height: 20%;
	//background-color: yellow;
}

.text_monitoria {
	height: 13%;
    //background-color: black;
	
}

.monitoria {
	height: 20%;
	//background-color: yellow;
}

#prev {
    height: 17%;
    width: 4.75%;
    //background-color: black;
    border-style: solid;
    border-color: darkblue;
    position: absolute;
}

#vaga1 {
    height: 17%;
    width: 19.5%;
    margin-left: 5.25%;
    position: absolute;
    border-style: solid;
    border-color: darkblue;
    //background-color: green;
}

#vaga2 {
    height: 17%;
    width: 19.5%;
    position: absolute;
    margin-left: 25.25%;
    //background-color: red;
    border-style: solid;
    border-color: darkblue;
}

#vaga3 {
    height: 17%;
    width: 19.5%;
    position: absolute;
    margin-left: 45.25%;
    //background-color: gray;
    border-style: solid;
    border-color: darkblue;
}

#next {
    height: 17%;
    width: 4.75%;
    //background-color: black;
    border-style: solid;
    border-color: darkblue;
    position: absolute;
    margin-left: 65.25%;
}
*/

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    
    section {
        width: 100%;
        position: relative;


    }
        &:nth-child(1) {
        background: #7be0ac;
        }

        &:nth-child(2) {
            background: #b686e5;
        }

        &:nth-child(3) {
            background: #f183a3;
        }
}

section a {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background: rgb(0,0,0);
    width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;
}

section a:nth-of-type(1){
    top:0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}
section a:nth-of-type(2){
    top:0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

